<!DOCTYPE html>
<html lang="en">
<head>

    <title>ESPN Branch Links</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
	<div class="alert alert-secondary" role="alert">
        <h1><span class="badge badge-danger">ESPN</span> Branch Link Creator</h1>
    </div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Branch Link</th>
	      <th scope="col">MVP Code</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Channel</th>
	      <th scope="col">Placement Type</th>
	      <th scope="col">Audience</th>
	      <th scope="col">Placement Name</th>
	      <th scope="col">URL</th>
	      <th scope="col">Deeplink</th>
	      <th scope="col">UTM Source</th>
	      <th scope="col">UTM Campaign</th>
	      <th scope="col">Redirect for Web</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{%for element in metadata_list%}
	    <tr>
	      <td>{{ element.branch_link }}</td>
	      <td>{{ element.mvp_code }}</td>
	      <td>{{ element.brand }}</td>
	      <td>{{ element.channel }}</td>
	      <td>{{ element.placement_type }}</td>
	      <td>{{ element.audience }}</td>
	      <td>{{ element.placement_name }}</td>
	      <td>{{ element.fallback_url }}</td>
	      <td>{{ element.deeplink_path }}</td>
	      <td>{{ element.utm_source }}</td>
	      <td>{{ element.utm_campaign }}</td>
	      <td>{{ element.desktop_url }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>